 .QuestionDetails>ul {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   grid-gap: 1rem;
 }

 .QuestionDetails>ul>li {
   border: 1px solid #E2E2E2;
   border-radius: .5rem;
   list-style-type: none;
   box-shadow: 10px 5px 5px #00000030;
 }

 .QuestionDetails>ul>li>p {
   font-size: 1rem;
   line-height: 1.5;
   padding: 1rem .75rem;
   color: #666666;
 }

 .QuestionDetails>ul>li>button {
   padding: .5rem 1rem;
   margin: .5rem;
   background-color: goldenrod;
   text-decoration: none;
   color: white;
   border-radius: .25rem;
   text-align: center;
   display: inline-block;
   transition: all .3s;
   outline: none;
 }

 .QuestionDetails>ul>li>button:hover {
   opacity: .6;
   cursor: pointer;
 }